html, body {
    overflow-x: hidden;
    padding: 0 !important;
}

* {
    font-family: Lato;
    padding: 0;
    margin: 0;
}

/* Header Styles */
#header-nav, #header-intro, #main-landing, #main-tools {
    min-height: 50vh;
}

.header-link-item {
    cursor: pointer;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-attachment: fixed;
    background-position: center;
}

@media screen and (min-width: 1px) {
    .header-link-item {
        width: 100%;
        background-size: cover;
        transition: width 0.5s;
    }

    .header-link-item:hover {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {
    .header-link-item {
        width: 100%;
        background-size: cover;
        transition: width 0.5s;
    }

    .header-link-item:hover {
        width: 200%;
    }
}

#header-link-item-about {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("./images/header/header-about.jpg");
}

#header-link-item-projects {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url("./images/header/header-projects.jpg");
}

#header-link-item-tools {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url("./images/header/header-tools.PNG");
}

#header-link-item-contact {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)), url("./images/header/header-contact.webp");
}

/* 
Small	        sm	≥576px
Medium	        md	≥768px
Large	        lg	≥992px
Extra large	    xl	≥1200px
*/



/* Body styles */
.project-card {
    min-height: 66vh;
}

.carousel-control-prev:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0.45), rgba(0,0,0,0)) ;
}

.carousel-control-next:hover {
    background-image: linear-gradient(to left, rgba(0,0,0,0.45), rgba(0,0,0,0)) ;
}

#tools-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px)  {
    #tools-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px)  {
    #tools-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

#tools-grid > img {
    margin: auto;
}

/* More animations */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0%;
    }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0%;
    }
    100% {
      opacity: 100%;
    }
}

#header-nav {
    animation: 1.5s ease-out 0s 1 fadeIn;
}


.header-intro-left {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.header-intro-right {
    animation: 1s ease-out 0s 1 slideInFromRight;
}